{% extends 'PostViews/base.html' %}
{% block contenido_cambia %}

    <h1>All PostOn</h1>

    <ul>
        {% for post in object_list %}
            <li><a href="{% url 'PostDetail' post.pk %}"> {{ post.titulo }} </a>
                - {{ post.owner.first_name }}
                {{ post.owner.last_name }}
                - {{ post.postDate }}
                {% if user.is_authenticated %}
                    {% if user.id == post.owner.id %}
                        - <a href="{% url 'PostUpdate' post.pk %}">Edit</a> |
                        <a href="{% url 'PostUpdate' post.pk %}">Delete</a>
                    {% endif %}
                {% endif %}
                <br/>
                {{ post.cuerpo | slice:"100" | safe }}
            </li>
        {% endfor %}
    </ul>

    {% for post in object_list %}
        {{ item }} <br/>
    {% endfor %}
{% endblock %}