{% extends 'PostViews/base.html' %}
{% block titulo %}
    {{ post.titulo }}
{% endblock %}


{% block contenido_cambia %}
    <h1>{{ post.titulo }}</h1>
    <small> Escrito por: {{ post.owner.first_name }} {{ post.owner.last_name }} - {{ post.postDate }} -
        {% if user.is_authenticated %}
            {% if user.id == post.autor.id %}
                <a href="{% url 'PostUpdate' post.pk %}">Edit</a> -
                <a href="{% url 'PostDelete' post.pk %}">Delete</a></small>
            {% endif %}
            <br/>
        {% endif %}
    <hr>
    <br/>

    {{ post.cuerpo | safe }}

    <br><br/>
    <a href="{% url 'Home' %}" class="btn btn-secondary">Back</a>

{% endblock %}